<mat-toolbar class="navbar">
  <button class='button' mat-button routerLink="">Home</button>
  <button class='button' mat-button routerLink="/dashboard">Dashboard</button>
  <button class='button' mat-button routerLink="/trip">Trip</button>
  <button class='button' mat-button routerLink="/map">Map</button>
  <button class='button' mat-button routerLink="/favorites">Favorites</button>
  <button class='button' mat-button routerLink="/budget">Budget</button>
  <button class='button' mat-button routerLink="/login">Login</button>
  <button class='button' mat-button (click)="toggleTheme()">🌗 Mode</button>
</mat-toolbar>