.dark-theme {
  --bg-color: #1e1e2f; // Modern Charcoal
  --text-color: #e6f0ff; // Arctic Blue
  --button-bg: #24c5f7; // Light Blue
  --button-text: #2d2d2d; // Dark Gray
	--button-hover-color: #246ef7; // Blue
}
