.light-theme {
  --bg-color:  #e6f0ff; // Arctic Blue
  --text-color: #1e1e2f; // Modern Charcoal
  --button-bg: #00796b; // Teal
  --button-text: #e6f0ff; // Arctic Blue;
	--button-hover-color: #004d40; // Dark Teal
}
